.app-toolbar {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text-title);

    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        height: 56px;

        .area-left, .arae-right {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .icon-button {
            background: transparent;
            border: none;
            color: inherit;
            cursor: pointer;
            user-select: none;
            margin-left: 10px;
        }

        .app-title {
            font-size: 16px;
            font-weight: 600;
        }
    }
}