footer {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text-title);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-size: 14px;
}