<!-- Tabs -->
<nav class="tabs">

  <button [class.active]="aba() === 'pendente'" (click)="setAba('pendente' )">Pendentes </button>
  <button [class.active]="aba() === 'encerrado'"(click)="setAba('encerrado')">encerrados</button>

</nav>

<!-- Lista -->
<div class="agenda-container">

  @if (lista().length === 0) {
    <div class="empty">
      Nenhum agendamento encontrado
    </div>
  }

  @for (item of lista(); track item.id) {

    <div class="agenda-item" (click)="goToTask(item.id)">

      <!-- Avatar -->
      <div class="avatar">{{getIniciais(item.dadoscliente.nome || item.cliente)}}</div>

      <!-- Conteúdo -->
      <div class="content">

        <!-- OS -->
        <div class="os">OS {{ item.os }}</div>

        <!-- Cliente -->
        <div class="cliente">{{getNomeCurto(item.dadoscliente.nome || item.cliente)}}</div>
        <div class="cliente">{{item.status}}</div>

      </div>

      <!-- data -->
       <div class="status">{{ item.data }}</div>

    </div>

  }

</div>
